

  
<br><br>

  <div class="container" >
    <div class="row">
      <div class="col-sm">
        <div class="card text-white bg-success mb-3" style="width: 30rem;">
            <img class="card-img-top" src="../../assets/ICONINF.PNG" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Find a home nurse for your needs.</p>
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-dark" routerLink="infermier">Infermier</button>
            </div>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-success mb-3" style="width: 30rem;">
            <img class="card-img-top" src="../../assets/ICONAUX.PNG"  alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Find a home care assistant for your needs.</p>
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-dark" routerLink="Auxiliaire">Auxiliaire de vie</button>
            </div>

            </div>
          </div>
        
      </div>
     
    </div>
  </div>


  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <p class="lead">Are you a caregiver or a nurse?</p>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-dark" routerLink="Contact">    Join-us   </button>
    </div>
    </div>
  </div>