<table class="table">
    <thead>
      <tr>
        <th scope="col">Subject</th>
        <th scope="col">Date</th>
        <th scope="col">status</th>
        <th scope="col" *ngIf="this.role == 'user'">Delete RDV</th>
        <th scope="col"  *ngIf="this.role == 'infer_aux'">Accepter</th>
        <th scope="col"  *ngIf="this.role == 'infer_aux'">Refuser</th>
      </tr>
    </thead>
    <tbody>








<ng-container *ngIf="this.role == 'user'">
  <tr *ngFor="let data of rdvList"     >
    <td>{{data.subject}}</td>
    <td>{{data.date}}</td>
    <td >{{check(data.status)}}</td>
    <td><button type="button" class="btn btn-light mr-1" 
      (click)="DeleteClick(data)"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slash-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z"/>
        </svg>
    </button></td>
</tr>
</ng-container>














   <ng-container *ngIf="this.role == 'infer_aux'">
    <tr *ngFor="let data of rdvList">
      <td>{{data.subject}}</td>
      <td>{{data.date}}</td>
      <td >{{check(data.status)}}</td>





<td><button type="button" class="btn btn-light mr-1" data-bs-toggle="modal" data-bs-target="#exampleModal" 
  data-bs-backdrop="static" data-bs-keyboard="false"
  (click)="valid(data,1)" 
  ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
      <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
      <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
    </svg></button></td>




<td><button type="button" class="btn btn-light mr-1" 
(click)="valid(data,0)" 
  >
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
      <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
</button></td>



    </tr>

   </ng-container>



    </tbody>
  </table>